body {
    background-color: #000033;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 20vh;
    font-family: "Lato";
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: white;
    margin-top: 2rem;
    padding-left: 0.5em;
}

#subheading {
    font-size: 0.75em;
}

table {
    height: fit-content;
    width: fit-content;
}

caption {
    padding-bottom: 0.5em;
}

th {
    min-width: 3em;
    font-weight: bold;
    color: white;
    text-align: center;
}

td {
    text-align: center;
}


main {
    display: flex;
    text-align: center;
    font-family: "Lato";
    color: white;
    height: 25vh;
    align-content: center;
}

.rest {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    text-align: center;
}

#top {
    border-top: 2.4px solid #ffffcc;
}

#bottom {
    padding-bottom: 0;
    border-bottom: 2.4px solid #ffffcc;
}

.card {
    height: 25vh;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: box-shadow 0.2s ease-in;
}

.card:hover {
    box-shadow: inset 0 0 10px #000000;
}

#monday {
    background-color: #0080ff;
    border-left: 2.4px solid #ffffcc;
    border-top: 2.4px solid #ffffcc;
    border-bottom: 2.4px solid #ffffcc;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

#tuesday {
    background-color: #0040ff;
    border-top: 2.4px solid #ffffcc;
    border-bottom: 2.4px solid #ffffcc;
}

#wednesday {
    background-color: #0080ff;;
    border-top: 2.4px solid #ffffcc;
    border-bottom: 2.4px solid #ffffcc;
}

#thursday {
    background-color: #0040ff;
    border-top: 2.4px solid #ffffcc;
    border-bottom: 2.4px solid #ffffcc;
}

#friday {
    background-color: #0080ff;
    border-top: 2.4px solid #ffffcc;
    border-bottom: 2.4px solid #ffffcc;
}

#saturday {
    background-color: #0040ff;
    border-top: 2.4px solid #ffffcc;
    border-bottom: 2.4px solid #ffffcc;
}

#sunday {
    background-color: #0080ff;
    border-right: 2.4px solid #ffffcc;
    border-top: 2.4px solid #ffffcc;
    border-bottom: 2.4px solid #ffffcc;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

aside {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1rem 2rem;
    border: 2.4px solid white;
    border-radius: 0.5em;
    font-family: "Lato";
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: white;
    background-color: #000033;
    transition: box-shadow 0.2s ease-in, padding 0.5s ease-in;
}

button:hover {
    box-shadow: inset 0 0 10px #fbfbfb;
    padding: 1rem 4rem;
}

@media (min-width: 1440px) {
    table {
        min-height: 20vh;
    }
}

#monday-title{
    margin-top: 20px;

}
#monday-add-box{

    transform: scale(1.8);
    display: inline;
    padding-top: 10px;

}

#monday-add-box:hover {
    cursor: url(hand.cur), pointer;
}

#monday-table{
    z-index: -1;
    display: inline;
}

#tuesday-title{
    margin-top: 20px;

}
#tuesday-add-box{

    transform: scale(1.8);
    display: inline;
    padding-top: 10px;

}

#tuesday-add-box:hover {
    cursor: url(hand.cur), pointer;
}

#tuesday-table{
    z-index: -1;
    display: inline;
}

#wednesday-title{
    margin-top: 20px;

}

#wednesday-add-box{

    transform: scale(1.8);
    display: inline;
    padding-top: 10px;
}

#wednesday-add-box:hover {
    cursor: url(hand.cur), pointer;
}

#wednesday-table{
    z-index: -1;
    display: inline;
}

#thursday-title{
    margin-top: 20px;

}

#thursday-add-box{

    transform: scale(1.8);
    display: inline;
    padding-top: 10px;
}

#thursday-add-box:hover {
    cursor: url(hand.cur), pointer;
}

#thursday-table{
    z-index: -1;
    display: inline;
}

#friday-title{
    margin-top: 20px;

}

#friday-add-box{

    transform: scale(1.8);
    display: inline;
    padding-top: 10px;
}

#friday-add-box:hover {
    cursor: url(hand.cur), pointer;
}

#friday-table{
    z-index: -1;
    display: inline;
}

#saturday-title{
    margin-top: 20px;

}

#saturday-add-box{

    transform: scale(1.8);
    display: inline;
    padding-top: 10px;
}

#saturday-add-box:hover {
    cursor: url(hand.cur), pointer;
}

#saturday-table{
    z-index: -1;
    display: inline;
}

#sunday-title{
    margin-top: 20px;

}

#sunday-add-box{

    transform: scale(1.8);
    display: inline;
    padding-top: 10px;
}

#sunday-add-box:hover {
    cursor: url(hand.cur), pointer;
}

#sunday-table{
    z-index: -1;
    display: inline;
}