body {
    background-color: #000033;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 20vh;
    font-family: "Lato";
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: white;
    margin-top: 2rem;
    padding-left: 0.5em;
}

#subheading {
    font-size: 0.75em;
}

caption {
    padding-bottom: 0.5em;
}

th {
    min-width: 3em;
    font-weight: bold;
    color: white;
    text-align: center;
}

td {
    text-align: center;
}

@media (min-width: 1440px) {
    main {
        display: grid; 
        grid-template-columns: repeat(3, 1fr) 0.5fr repeat(3, 1fr);
        text-align: center;
        font-family: "Lato";
        color: white;
        height: 25vh;
        align-content: center;
    }

    .rest {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
        height: 8.33vh;
    }

    #top {
        border-top: 2.4px solid #ffffcc;
    }
    
    #bottom {
        padding-bottom: 0;
        border-bottom: 2.4px solid #ffffcc;
    }
}

@media (min-width: 767px) and (max-width: 1439px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.2fr 1fr;
        text-align: center;
        font-family: "Lato";
        color: white;
        align-content: center;
    }
    
    .rest {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: large;
    }

    #rest-block {
        grid-column: span 3;
    }

    #top {
        opacity: 0;
    }
    
    #bottom {
        opacity: 0;
    }

    #legs-one {
        border-right: 2.4px solid white;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }

    #push-two {
        border-left: 2.4px solid white;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
    }

}

@media (max-width: 766px) {
    
    main {
        display: grid;
        grid-template-rows: repeat(3, 1fr) 0.3fr repeat(3, 1fr);
        justify-items: center;
        grid-gap: 10px;
        font-family: "Lato";
        color: white;
        align-content: center;
    }

    .card {
        width: 70vw;
    }

    #title {
        font-size: 2.2em;
    }

    #push-one {
        border: 2.4px solid white;
        border-radius: 0.5em;
    }
    
    #pull-one {
        border: 2.4px solid white;
        border-radius: 0.5em;
    }
    
    #legs-one {
        border: 2.4px solid white;
        border-radius: 0.5em;
    }
    
     #rest-block {
         margin-top: 1.5em;
         margin-bottom: 1.5em;
     }

    #top {
        opacity: 0;
    }

    #bottom {
        opacity: 0;
    }

    #push-two {
        border: 2.4px solid white;
        border-radius: 0.5em;
    }
    
    #pull-two {
        border: 2.4px solid white;
        border-radius: 0.5em;
    }
    
    #legs-two {
        border: 2.4px solid white;
        border-radius: 0.5em;
    }

}

.card {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.2s ease-in;
}

.card:hover {
    box-shadow: inset 0 0 10px #000000;
}

#push-one {
    background-color: #0080ff;
    border-left: 2.4px solid #ffffcc;
    border-top: 2.4px solid #ffffcc;
    border-bottom: 2.4px solid #ffffcc;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

#pull-one {
    background-color: #0040ff;
    border-top: 2.4px solid #ffffcc;
    border-bottom: 2.4px solid #ffffcc;
}

#legs-one {
    background-color: #0080ff;;
    border-top: 2.4px solid #ffffcc;
    border-bottom: 2.4px solid #ffffcc;
}

#push-two {
    background-color: #0040ff;
    border-top: 2.4px solid #ffffcc;
    border-bottom: 2.4px solid #ffffcc;
}

#pull-two {
    background-color: #0080ff;
    border-top: 2.4px solid #ffffcc;
    border-bottom: 2.4px solid #ffffcc;
}

#legs-two {
    background-color: #0040ff;
    border-right: 2.4px solid #ffffcc;
    border-top: 2.4px solid #ffffcc;
    border-bottom: 2.4px solid #ffffcc;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

aside {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1rem;
    border: 2.4px solid white;
    border-radius: 0.5em;
    font-family: "Lato";
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: white;
    background-color: #000033;
    width: 15rem;
    transition: box-shadow 0.2s ease-in, width 0.5s ease-in;
}

button:hover {
    box-shadow: inset 0 0 10px #fbfbfb;
    width: 20rem;
}

@media (min-width: 1440px) {
    table {
        min-height: 20vh;
    }
}